body {
  margin: 0;
  height: 100vh;
  background: #fde2ea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Vorher */
#questionContainer {
  position: relative;   /* 🔥 DAS fehlt */
  text-align: center;
}

#noBtn {
  position: absolute;
}

#questionGif {
  width: 100px;
  max-width: 80vw;
}

#questionText {
  margin-top: 20px;
  font-size: 24px;
}

/* Nachher */
#resultContainer {
  display: none;
  text-align: center;
}

#resultGif {
  width: 300px;
  max-width: 80vw;
}

#resultText {
  margin-top: 20px;
  font-size: 24px;
}

